body{
        background-color: #8c2c6c;
        font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
      }
      h1{ 
        background-color: black;
        color: white;
        margin: 20px;
        padding: 10px;
        text-align: center;
        }
      section{ 
        color: black;
        background-color: white;
        padding: 20px;
        margin: 20px;
      }
      section h2{
        text-align: center;
        color: white;
        background-color: black;
        padding: 10px
      }
      #w{
        color: red;
      }
      #m{
        color: blue;
      }